.container {
  ul{
    margin: 2rem 0;
    padding-inline-start: initial;
    
  }
  ul li{
    position: relative;
    list-style: none;
    display: inline-block;
    width: 3.5rem;  height: 2rem;
    margin: 0 1rem;
    transition: .9s;
    
  }
  ul li:hover{
    transform: translateY(-30px);
    cursor: pointer;
  } 
  ul li::before,ul li::after{
    content: '';
    position: absolute;
    top: 0;  left: 0;
    width: 100%;  height: 100%;
    z-index: -1;
  }
  ul li::before{
    transform: rotate(60deg); 
  }
  ul li::after{
    transform: rotate(-60deg); 
  }
  ul li a{
    display: inline-block;
    width: 100%;   height: 100%;
    color: var(--white);  
    text-align: center;   line-height: 86px;
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 2rem;

  }

  ul li a,ul li::before,ul li::after{
    background: var(--gray);
  }
}