html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background: var(--gray-base);
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --gray-base: #323131;
  --gray-base-82: #323131d1;
  --cyan: #2FB5C0;
    --cyan-7: rgba(47,181,192, 0.7);
  --cyan-3: rgba(47,181,192, 0.3);
  --white: #fff;
  --gray-light: rgba(255, 255, 255, 0.7);
  --gray-middle:  rgba(255, 255, 255, 0.3);
  --gray: #4d5156;
  --gray-middle-default: #dee2e6;
  --rose: #F0C0BF;
}

.vertical-timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 1rem;
    height: 100%;
    width: 0.1rem !important;
    background: var(--rose) !important;
}
.vertical-timeline-element-content{
    box-shadow: none !important;
}

.vertical-timeline-element-icon {
    position: absolute;
    top: 2rem!important;
    left: 0.7rem!important;
    width: 1rem !important;
    height: 1rem !important;
    border-radius: 50%;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.vertical-timeline-element-date {
    color: var(--gray-middle-default);
  }

@media only screen and (min-width: 1170px) {
  .vertical-timeline-element-icon {
      margin-left: -10px!important;
      left: 50%!important;
      
  }
  .vertical-timeline--two-columns .vertical-timeline-element-content .vertical-timeline-element-date {
    top: 1rem!important;
    color: inherit;
  } 
}
