.container {
  min-height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--gray-base);
  perspective: 50rem;
  transition: all 0.5s ease;

  .glass {
    width: 25%;
    height: calc(100vh - 3rem);
  }
}

